.icons {
	
	&__certified {
		text-align: center;
		padding: 35px;
		transform: scale(.65);
		max-width: 325px;

		@mixin atSmall {
			transform: scale(.80);
		}
	}
	
	&__social {
		max-width: 60rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-left: auto;
		margin-right: auto;
		transform: scale(.75);
		
		@mixin atMedium {
			transform: scale(1);
		}
	}
	
	&__social img {
		width: 50px;
	}
	
	&__social-icon {
		max-width: 60px;
		margin: 20px 10px;
	}
}

