.site-header {
	padding: 1rem 0;
	position: absolute;
	width: 100%;
	z-index: 2;
	background-color: rgba($blueGray, .85);
	
	&__btn-container {
		float: right;
	}
	
	&__logo {
		top: 0;
		position: absolute;
		background-color: $darkBlue;
		padding: 1.1875rem 3.625rem;
		max-width: 440px;
	}
}
