.subscribe {
	
	&__title {
		font-family: mrs-eaves-xl-serif-narrow, serif;
		font-size: 1.75rem;
		font-weight: 700;
		color: #fff;
		margin-top: 1rem;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	
	&__border {
		border-right: none;
		
		@mixin atLarge {
			border-right: 2px solid #fff; 
		}
	}
	
	&--l-padding {
		padding-left: 0;
		
		@mixin atLarge {
			padding-left: 65px;
		}
	}
	
	&__form {
		max-width: 60rem;
		width: 100%;
		margin: 50px 0 34px 0;
		
		@mixin atMedium {
			margin: 34px auto;
		}
	}
	
	&__form input{
		width: 100%;
		padding: 16px 30px;
	}
	
	&__form input[type=text] {
		color: $blueGray;
		border: none;
	}
	
	&__form input[type=text]:focus {
		outline-width: 0;
		border: none;
	}
	
	&__form input[type=submit] {
		background-color: $carrotOrange;
		outline-width: 0;
		border: none;
		color: #fff;
		cursor: pointer;
	}
}

