.sustainability {
	
	&--border {
		border-top: 2px solid #fff;
	}
	
	&__green {
		max-width: 100%;
		background-color: rgba(156, 188, 101, .91);
		height: auto;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

