	.icon--SS-LogoWhite {
		width: 324px;
		height: 75px;
	}
	.icon--facebook {
		width: 50px;
		height: 50px;
	}
	.icon--green-restaurant-certified-logo {
		width: 226px;
		height: 250px;
	}
	.icon--green-seal-certified-logo {
		width: 255px;
		height: 238px;
	}
	.icon--instagram {
		width: 50px;
		height: 50px;
	}
	.icon--linkedin {
		width: 50px;
		height: 50px;
	}
	.icon--pinterest {
		width: 50px;
		height: 50px;
	}
	.icon--twitter {
		width: 60.11px;
		height: 50px;
	}

