.btn {
	background-color: $carrotOrange;
	color: #fff;
	text-decoration: none;
	font-size: .9rem;
	font-weight: bold;
	padding: 1rem 1.75rem;
	transition: all .5s ease-out;
	display: inline-block;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .2);
	border-radius: 5px;
	letter-spacing: .1rem;

	@mixin atMedium {
		font-size: .9rem;
		padding: .8rem 2.125rem;
	}

	&:hover {
		background-color: $darkOrange;
	}

	&--service {
		width: 100%;
		text-align: center;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		text-transform: uppercase;
	}

	&--service-blue {
		background-color: $darkBlue;

		&:hover {
			background-color: $darkerBlue;
		}
	}

	&--hidden-at-large {
		display: block;

		@mixin atLarge {
			display: none;
		}
	}

	&--t-margin {
		margin-top: .5rem;
		margin-bottom: .5rem;

		@mixin atMedium {
			margin-top: 1.5rem;
		}
	}

	&--large {
		font-size: 1.1rem;
		padding: 1.15rem 2.125rem;
	}

	&--small {
		background-color: $darkBlue;
		padding: .7rem 2rem;
		box-shadow: 0 0 0 0 transparent;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size:.8rem;

		&:hover {
			background-color: $darkerBlue;
		}

		@mixin atMedium {
			font-size: .9rem;
			margin-bottom: 0;
		}
	}
}
