.footer {
	background-color: $darkerBlue;
	text-align: center;
	color: #fff;
	margin: 0;
	padding-top: 2rem;
	padding-bottom: 2rem;
	line-height: 1.5;
	font-size: .8rem;
	border-bottom: 7px solid $carrotOrange;

	@mixin atMedium {
		text-align: left;
	}

	a {
		color: $guacGreen;
		text-decoration: none;
	}
}
