.generic-content-container {
	p {
		line-height: 2;
		margin-top: .5rem;

		@mixin atSmall {
			font-size: 1.125rem;
		}

		@mixin atMedium {
			max-width: 100%;
		}

		@mixin atLarge {
			max-width: 42.625rem;
		}
	}

	p a {
		text-decoration: none;
		color: $carrotOrange;
	}

	&--p-white p {
		color: #fff;
	}

	&--a-blue p a {
		color: $darkBlue;
	}

	&--a-white p a {
		text-decoration: none;
		color: #fff;
	}

	&--center-at-medium p {

		@mixin atMedium {
			margin-left: auto;
			margin-right: auto;
			max-width: 60rem;
			text-align: center;
			padding-bottom: 2.5rem;
		}

		@mixin atLarge {
			border-bottom: none;
			margin-left: 0;
			margin-right: 0;
			text-align: left;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}
