.google-map {
	overflow: hidden;
	max-width: 100%;
	max-height: 23.125rem;
	padding-top: 3.25rem;
	margin-top: 2.5rem;
	border-top: 2px solid #fff;
	
	@mixin atLarge {
		padding-top: 0;
		margin-top: 0;
		border-top: none;
	}
	
	& iframe {
		width: 100%;
	}
}

