.primary-nav {

	padding-top: 10px;

	@mixin atMedium {
		padding-top: 0;
	}

	&--pull-right {

		@mixin atMedium {
			float: right;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}

	li {
		list-style: none;
		display: block;

		@mixin atMedium {
			float: left;
			padding-right: 3rem;
		}
	}

	a {
		position: relative;
		color: #fff;
		text-decoration: none;
		font-size: 1.5rem;
		display: inline-block;
		padding: 20px 0;

		&:before {
			content: "";
			position: absolute;
			width: 35px;
			height: 2px;
			bottom: 0;
			background-color: #fff;
			visibility: hidden;
			transform: scaleX(0);
			transition: all .3s ease-out;
		}

		&:hover {
			color: #fff;
		}

		&:hover:before {
			visibility: visible;
			transform: scaleX(1);
		}

		@mixin atMedium {
			padding: 14px 0;
			font-size: 1rem;
		}
	}
}
