.site-header {
	padding: 1rem 0;
	position: absolute;
	width: 100%;
	z-index: 2;
	transition: all .3s ease-out;

	&--is-expanded {
		background-color: rgba($blueGray, .95);
	}

	@mixin atMedium {
		position: fixed;
		background-color: rgba($blueGray, .85);

		&--dark {
			padding: .5rem 0;
			background-color: rgba(66, 73, 84, .85);
		}
	}

	&__btn-container {

		@mixin atMedium {
			float: right;
		}
	}

	&__logo {
		top: 0;
		position: absolute;
		background-color: $darkBlue;
		transform: translateX(-50%);
		padding: 1rem 1.5rem;
		left: 50%;
		max-width: 250px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;

		@mixin atMedium {
			left: auto;
			transform: translateX(0);
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			transform-origin: top;
			transition: all .3s ease-out;

			.site-header--dark & {
				transform: scale(.51);
				border-bottom-left-radius: 0px;
				border-bottom-right-radius: 0px;
			}
		}

		@mixin atMediumLarge {
			padding: 1.5rem 3.625rem;
			max-width: 440px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}

	&__menu-icon {
		width: 25px;
		height: 19px;
		position: absolute;
		top: 15px;
		left: 15px;
		z-index: 10;

		&::before {
			content: "";
			position: absolute;
			top: 0px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: $darkBlue;
			transform-origin: 0 0;
			transition: transform .3s ease-out;
		}

		&__middle {
			position: absolute;
			top: 8px;
			left: 0;
			width: 25px;
			height: 3px;
			background-color: $darkBlue;
			transform: all .3s ease-out;
			transform-origin: 0 50%;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: $darkBlue;
			transform-origin: 0 100%;
			transition: transform .3s ease-out;
		}

		@mixin atMedium {
			display: none;
		}
	}

	&__menu-icon--close-x {
		&::before {
			transform: rotate(45deg) scaleX(1.25);
		}

		.site-header__menu-icon__middle {
			opacity: 0;
			transform: scale(0);
		}

		&::after {
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}
	}

	&__menu-content {
		opacity: 0;
		z-index: -10;
		position: relative;
		padding-top: 80px;
		padding-bottom: 100px;
		text-align: center;
		transition: all .3s ease-out;

		@mixin atMedium {
			opacity: 1;
			z-index: 1;
			padding-top: 0;
			padding-bottom: 0;
		}

		&--is-visible {
			opacity: 1;
			z-index: 1;
			padding-top: 150px;
		}
	}
}
